.chatwindow{
    width: 70%;
    height: 100%;
    min-width: 600px;
    background-color: gainsboro;
    float: left;
    display: flex;
}
.chatarea{
    padding: 5px;
    width: 60%;
    height: 100%;
    background-color:whitesmoke;
    float: left;
    flex-basis: 250px;
    flex-grow: 2;
    justify-content: flex-start;
    box-sizing: border-box;
    
    
}
.chatheader{
    width: 100%;
    height: 9%;
    background-color: blueviolet;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 0px rgb(224, 186, 224);
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}
.chatheader_a{
    height:100%;
    box-sizing: border-box;
    width:70px;
    min-width:70px;
    max-width:70px;
    border: 1px solid black;
    flex-basis: 70px;
}
.chatheader_b{
    float: left;
    height: 100%;
    flex-grow: 1;
    display: flex;
    width: calc(95% - 70px);
    flex-direction: row;
    
    

}
.chatheader_b_a{
    
    height: 100%;
    justify-content: flex-start;
    flex-basis: 90%;
    flex-shrink: 1;
    box-sizing: border-box;

}
.chatheader_b_a_1{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    display: block;
    height: 60%;
    min-height: 30px;
    text-align: left;
    padding: 3px 5px;
    box-sizing: border-box;
    

}
.chatheader_b_a_2{
    width: 100%;
    font-size: 14px;
    display: block;
    height: 40%;
    min-height: 20px;
    text-align: left;
    padding:2px 5px;
}
.chatheader_b_b{
    justify-content: flex-end;
    min-width: 10%;
    
    box-sizing: border-box;
}
.chatheader_b_b_a{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    position: relative;
    top: 15px;
    
}
.chatheader_b_b_a_1{
    height: 100%;
    width: calc(100% - 30px);
    float: left;
    border: 0;
    border-bottom: 2px solid black;
    padding:0;
    outline: none;
    margin: 0;
    background-color: transparent;
}
.chatheader_b_b_a_2{
    height: 100%;
    width: 30px;
    position: relative;
    left:-5px;
    
}
.chatheader_b_b_a_2:hover > .chatheader_b_b{
    width: 30%;
}
.chatheader_c{

    justify-content: flex-end;
    height: 100%;
    width: 30px;
    box-sizing: border-box;

}
.chatheader_c_1{
    position: relative;
    font-size: large;
    width: 100%;
    top: 25%;
    left: 0;
    /* background-color: red; */
}
.chatbody{
    
    width: 100%;
    height: 81%;
    box-sizing: border-box;
    background-color: whitesmoke;
    overflow: scroll;
}

