.chatinfo{
    width: 40%;
    height: 100%;
    background-color: rgb(240, 237, 237);
    float: left;
    flex-basis: 150px;
    flex-grow: 1;
    padding: 5px 5px 10px 5px;
    justify-content: flex-end;
    box-sizing:border-box;
    overflow: hidden;

}
.chatinfo_a{
    height: 40%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0 6px 6px -6px #777
}
.chatinfo_a_1{
    width: 75%;
    height: 75%;
    position: relative;
    top: 12.5%;
    border: 10px;
    border-radius: 50%;
}
.chatinfo_b{
    height: 60%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 100px;
    
}